*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Header Css Start */
.header{
    display: flex;
    justify-content: space-between;
    background-color: #27e6b6;
    height: 60px;
}
.menu{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 5px;
    flex-basis: 18%;
}
.circle{
    display: flex;
    background-color: white;
    padding: 5px 25px;
    margin: 2px 12px;
    border-radius: 50%;
}
.search-bar {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 5px;
    flex-basis: 78%;
}
.bar{
    display: flex;
    background-color: white;
    flex-basis: 90%;
    border-radius: 2%;
}
/* Header Css End */
/* Cards Css Start */
.cards{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 13rem 5rem 12rem 5rem;
    
}
.box{
    display: flex;
    width: 16rem;
    padding: 9rem 1rem 1rem 1rem;
    height: 20rem;
    margin: 10px;
    box-shadow: 5px 10px 18px #888888;
}
.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items:  center;
   justify-content: center;
}
.row {
    width: 100%;
}
.flex-item {
    padding: 70px;
    border-radius: 50%;
    height: 150px;
    width: 50%;
    display: flex;
    margin: 7px 35px;
    align-items: flex-end;
}
 .flex-item .green{
    background-color: yellowgreen;
}
  
.crimson{
    background-color: crimson;
}
.blue{
    background-color: #27e6b6;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: yellowgreen;
}
/* Cards Css Start */


/* Media Queries */

/* Media Queries for Tablet  */
@media (min-width: 768px) and (max-width: 1024px) {
    .cards {
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-direction: row;
        margin: 19rem 0rem 13rem 0rem;
    }
    #green-box{
        display: none;
    }
    .box {
        display: flex;
        width: 16rem;
        padding: 9rem 1rem 1rem 1rem;
        height: 20rem;
        margin: 6px;
        box-shadow: 5px 10px 18px #888888;
    }
}
/* End Media Queries for Tablet */ 

/*Media Queries for Smartphones Mobiles (Portrait) */
@media (min-width: 320px) and (max-width: 480px){
    .header {
        width: 100%;
        height: 30px;
    }
    .circle {
        padding: 6px 7px;
        margin: 2px 5px;
    }
    .menu{
        display: flex;
        flex-basis: 20%;
    }
    .search-bar {
        display: flex;
        flex-basis: 80%;

    }
    .bar {
        display: flex;
        background-color: white;
        flex-basis: 80%;
        padding: 7px 7px;
    }   
    .cards {
        width: 82%;
        margin: 25px auto; 
    }
    #crimson-box{
        display: none;
    }
    #blue-box{
        display: none;
    }
    #green-box{
        display: none;
    }
}
/* End Media Queries for SmartPhones */ 
